<div class="text-center">
<br><br>
<h3>Our cocktails</h3>
  <%# <%= link_to "New cocktail", new_cocktail_path %>

<div class="row justify-content-center">
  <% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail) do %>
    <div class="card-trip m-3">
      <img src="https://source.unsplash.com/300x200/?drink,<%= cocktail.name %>" />
      <div class="card-trip-infos">
        <div>
          <h2><%= cocktail.name %></h2>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>

</div>
